/*
 * Pipeline parameters
 */
params.outdir = "${launchDir}/results"
params.threads = 4
params.ref = "${launchDir}/data/ref/GRCh38.6.20.fa.gz"
params.ref_amb = "${launchDir}/data/ref/GRCh38.6.20.fa.gz.amb"
params.ref_ann = "${launchDir}/data/ref/GRCh38.6.20.fa.gz.ann"
params.ref_bwt = "${launchDir}/data/ref/GRCh38.6.20.fa.gz.bwt"
params.ref_pac = "${launchDir}/data/ref/GRCh38.6.20.fa.gz.pac"
params.ref_sa = "${launchDir}/data/ref/GRCh38.6.20.fa.gz.sa"

// Primary input
params.input_csv = "${launchDir}/data/samples.csv"
